<html>
    <head>
        <title>Motor parameters</title>
    </head>
    <body>
        <h1>Motor</h1>
        <p>{{ question }}</p>

        <form action>
            Name for this session (optional): <input type="text" name="sess_name"><br>
            Exported recipies file (.xml): <input type="file" name="file_name"><br>
            <input type="submit" value="Submit">
        </form>

        <form method="POST">
            {{ form.hidden_tag() }}
            <p>
            {% for option in form.answer %}
                {{ option }} {{ option.label }}<br>
            {% endfor %}
            {% for error in form.answer.errors %}[{{ error }}]{% endfor %}
            </p>
            {{ form.submit }}

            <p></p>

            <fieldset>
            <legend>Motor selection</legend>
            <p>
                <label>Select list</label>
                <select id = "myList">

                    {% for option in form.answer %}
                        {{ option }} {{ option.label }}<br>
                    {% endfor %}

                    <option value = "1">one</option>
                    <option value = "2">two</option>
                    <option value = "3">three</option>
                    <option value = "4">four</option>
                </select>
            </p>
            </fieldset>
        </form>

        <p>Click <a href="{{ url_for('index') }}">here</a> to reset the selection.</p>
    </body>
</html>
